<?xml version="1.0"?>
<log4net>
	<appender name="LoggingLog4NetAppender" type="Logging.Log4NetAppender.LoggingLog4NetAppender">
		<connectionString value="You suck" />
	</appender>

	<!-- Set root logger level to DEBUG and its only appender to A1 -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="LoggingLog4NetAppender" />
	</root>
</log4net>
